@font-face {
  font-family: 'AribauGroteskBlackItalic';
  src: url('../fonts/AribauGroteskBlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'AribauGroteskBlack';
  src: url('../fonts/AribauGroteskBold.woff2') format('woff2');
}


@font-face {
  font-family: 'AribauGrotesklighter';
  src: url('../fonts/AribauGroteskExtraLight.woff2') format('woff2');
  font-weight: lighter;
}

@font-face {
  font-family: 'AribauGrotesklight';
  src: url('../fonts/AribauGroteskLight.woff2') format('woff2');
  font-weight: 400;
}


@font-face {
  font-family: 'AribauGrotesk';
  src: url('../fonts/AribauGroteskRegular.woff2') format('woff2');
  font-weight: normal;
}


@font-face {
  font-family: 'CircularStd-Book';
  src: url('../fonts/CircularStd-Book.1f2c8f7.woff2') format('woff2');
}

@font-face {
  font-family: 'Hatton-Light';
  src: url('../fonts/Hatton-Light.a83de3f.woff2') format('woff2');

}
@font-face {
  font-family: 'Hatton-Regular';
  src: url('../fonts/Hatton-Regular.9256132.woff2') format('woff2');
}




@font-face {
  font-family: 'Pretendard-Light';
  src: url('../fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('../fonts/Pretendard-Thin.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
