$font-black:  'AribauGroteskBlack', sans-serif;
$font-italic:  'AribauGroteskBlackItalic', sans-serif;
$font-lighter: 'AribauGrotesklighter', sans-serif;
$font-light: 'AribauGrotesklight', sans-serif;

$font-accent:  'Hatton-Regular', sans-serif;
$font-accent-light:  'Hatton-Light' ,  sans-serif;

$font-kr-thin: 'Pretendard-Thin', sans-serif;
$font-kr-regular: 'Pretendard-Regular', sans-serif;
$font-kr-medi:'Pretendard-Medium', sans-serif;